adal==1.2.7
aiobotocore==2.5.2
aiofiles==23.1.0
aiohttp==3.8.5
aiohttp-cors==0.7.0
aioitertools==0.11.0
aiosignal==1.3.1
antspyx==0.3.8
async-timeout==4.0.2
attrs==23.1.0
azure-core==1.27.1
boto3==1.26.158
botocore==1.29.161
cachetools==4.2.4
certifi==2023.5.7
cffi==1.15.1
charset-normalizer==3.1.0
chart-studio==1.1.0
contourpy==1.1.0
cryptography==41.0.1
cycler==0.11.0
dicom2nifti==2.4.8
entrypoints==0.4
fonttools==4.40.0
frozenlist==1.4.0
google-api-core==2.10.2
google-api-python-client==2.91.0
google-auth==1.35.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.5.3
googleapis-common-protos==1.59.1
h5py==3.9.0
h5pyd==0.14.1
hsds==0.7.0b11
httplib2==0.22.0
idna==3.4
imageio==2.31.1
isodate==0.6.1
jmespath==1.0.1
joblib==1.2.0
kiwisolver==1.4.4
lazy_loader==0.2
matplotlib==3.7.1
msrest==0.7.1
msrestazure==0.6.4
multidict==6.0.4
networkx==3.1
nibabel==5.1.0
numcodecs==0.11.0
numpy==1.25.0
oauthlib==3.2.2
packaging==23.1
pandas==2.0.2
patsy==0.5.3
Pillow==9.5.0
plotly==5.15.0
protobuf==4.23.3
psutil==5.9.5
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycparser==2.21
pydicom==2.4.1
PyJWT==2.7.0
pyparsing==3.1.0
python-dateutil==2.8.2
python-gdcm==3.0.22
pytz==2023.3
PyWavelets==1.4.1
PyYAML==6.0
requests==2.31.0
requests-oauthlib==1.3.1
requests-unixsocket==0.3.0
retrying==1.3.4
rsa==4.9
s3transfer==0.6.1
scikit-image==0.21.0
scikit-learn==1.2.2
scipy==1.10.1
simplejson==3.19.1
six==1.16.0
statsmodels==0.14.0
tdqm==0.0.1
tenacity==8.2.2
threadpoolctl==3.1.0
tifffile==2023.4.12
tqdm==4.65.0
typing_extensions==4.7.0
tzdata==2023.3
uritemplate==4.1.1
urllib3==1.26.16
webcolors==1.13
wrapt==1.15.0
yarl==1.9.2
